* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #1f1a17;
    color: #f5f5f5;
}

/* NAV */
header nav {
    background-color: #2b1d17;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav h1 {
    font-size: 26px;
    text-transform: uppercase;
}

/* FORM */
header nav form {
    display: flex;
}

form input[type="text"] {
    padding: 10px;
    font-size: 18px;
    border: none;
    border-radius: 4px;
    margin-right: 10px;
}

form button {
    background: #ff6b3d;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 4px;
    transition: 0.2s;
}

form button:hover {
    background: #ff8a5c;
    transform: scale(1.05);
    box-shadow: 0 0 12px rgba(255,107,61,0.4);
}

/* CONTAINER */
.recipe-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
    width: 80%;
    margin: 20px auto;
}

/* CARD */
.recipe {
    background: white;
    color: black;
    border-radius: 8px;
    overflow: hidden;
    animation: pop 0.4s ease;
    transition: 0.3s;
}

@keyframes pop {
    from { transform: scale(0.8); opacity: 0; }
    to { transform: scale(1); opacity: 1; }
}

.recipe:hover {
    transform: translateY(-8px);
    box-shadow: 0 15px 30px rgba(255,107,61,0.25);
}

.recipe img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.recipe h3 {
    margin: 10px;
}

.recipe p {
    margin: 5px 10px;
    color: #555;
}

.recipe button {
    background: #ff6b3d;
    border: none;
    color: white;
    padding: 10px;
    margin: 10px auto;
    display: block;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.2s;
}

.recipe button:hover {
    background: #ff8a5c;
    transform: scale(1.05);
}

/* POPUP */
.recipe-details {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.8);

    background: #2f241f;
    width: 40%;
    max-height: 80vh;
    overflow-y: auto;
    border-radius: 12px;

    opacity: 0;
    transition: 0.3s ease;
}

/* CONTENT */
.recipe-details-content {
    padding: 25px;
}

/* CLOSE BTN */
.recipe-close-btn {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 32px;
    height: 32px;
    border: none;
    border-radius: 5px;
    background: #ff6b3d;
    color: white;
    cursor: pointer;
    transition: 0.2s;
}

.recipe-close-btn:hover {
    background: #ff8a5c;
    transform: rotate(90deg) scale(1.1);
}

/* INGREDIENTS */
.ingredientList li {
    list-style: none;
    background: white;
    color: black;
    margin: 6px 0;
    padding: 8px;
    border-radius: 6px;
}

/* RESPONSIVE */
@media (max-width:600px) {
    .recipe-details {
        width: 90%;
    }

    header nav {
        flex-direction: column;
    }

    header nav form {
        margin-top: 10px;
    }
}